{% extends 'layout.html' %}

{% block title %}Add Expenses{% endblock title %}
{% block styles %}
<style>
  .form-control {
    height: 44px !important;
  }
</style>
{% endblock styles %}



{% block main %}

<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Expense</h4>
      <p class="card-description">
        Enter details for the Expense
      </p>
      <form class="forms-sample" action="/expenses/add" method="POST">
        <div class="form-group me-0">
          <label for="payer">Payer</label>
          <select class="select2 js-states form-control" id="payer" name="payer" required>
            {% for payer in payers %}
            <option value="{{ payer['name'] }}">{{ payer['name'] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group me-0">
          <label for="category">Category</label>
          <select class="select2 js-states form-control" id="category" name="category" required>
            {% for category in categories %}
            <option value="{{ category['name'] }}">{{ category['name'] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date" value="{{ date }}" max="{{ date }}" name="date" required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Description" name="description"
            required>
        </div>
        <div class="form-group me-0">
          <label for="budget">Budget</label>
          <select class="select2 js-states form-control" id="budget" name="budget" required>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
            <option value="AM">America</option>
            <option value="CA">Canada</option>
            <option value="RU">Russia</option>
          </select>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" placeholder="{{0 | rupees}}" name="amount" required>
        </div>
        <button type="submit" class="btn btn-primary me-2">Save</button>
        <button type="clear" class="btn btn-light">Clear</button>
      </form>
    </div>
  </div>
</div>


{% endblock main %}


{% block script %} {% endblock script %}