{% extends 'layout.html' %} {% block title %}Monthly Report{% endblock title %}
{% block styles %}
<style>
  .table-responsive {
    max-height: 300px;
  }
</style>
{% endblock styles %} {% block main %}

<div class="card row p-5">
  <h4>Monthly Report</h4>
  <div id="monthly-chart" style="width:100%;height: 500px"></div>

  <div class="table-responsive" style="height: 500px;">
    <table class="table table-striped table-bordered" id="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Payer</th>
          <th>Category</th>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for record in monthly_report["table"] %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ record["payer"] }}</td>
          <td>{{ record["category"] }}</td>
          <td>{{ record["date"] }}</td>
          <td>{{ record["description"] }}</td>
          <td>{{ record["amount"] | rupees}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock main %}
{% block script %}
{% if monthly_report['chart'] %}
<script>
  var monthly_chart_data = {{ monthly_report['chart'] | tojson }};
  load_monthly_chart(monthly_chart_data);
</script>
{% endif %}
{% endblock script %}