{% extends 'layout.html' %} {% block title %}View Expenses{% endblock title %}
{% block styles %} {% endblock styles %} {% block main %}

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Expense History</h4>
      <p class="card-description">List of all the expenses you have made</p>
      <div class="table-responsive">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Payer</th>
              <th>Category</th>
              <th>Date</th>
              <th>Budget</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for expense in expenses %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ expense["payer"] }}</td>
              <td>{{ expense["category"] }}</td>
              <td>{{ expense["date"] }}</td>
              <td>budget</td>
              <td>{{ expense["description"] }}</td>
              <td>{{ expense["amount"] | rupees}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock main %} {% block script %} {% endblock script %}