{% extends 'layout.html' %}

{% block title %}Add Expenses{% endblock title %}




{% block main %}

<div class="grid-margin stretch-card">
    <div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Payer List</h3>
                <p class="card-description">List of Payer in budget plan</p>
                <ul class="list-star">
                    {% for payer in payers %}
                    <li>{{payer['name'] | title}}</li>

                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock main %}


{% block script %} {% endblock script %}