{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{url_for("static", filename="auth.css")}}"> {% endblock css %}

{% block content %}
<div class="auth-body">
  <div class="div-container">
    <div class="header">Register</div>
    <form method="POST">
      <div class="field input-field">
        <input type="text" placeholder="username" name="username" required>
      </div>
      <div class="field input-field">
        <input type="password" placeholder="Password" name="password" required>
      </div>
      <div class="field input-field">
        <input type="password" placeholder="Confirm password" name="confirm_password" required>
      </div>
      <div class="field button-field">
        <button>Register</button>
      </div>
      <div class="form-link sign-up">
        <span>Don't have an account?</span> <a href={{url_for('auth.login')}}>Sign in now</a>
      </div>
    </form>
  </div> 
</div>
{% endblock content %}


